<header>
    <h1>Juego del Ahorcado</h1>
    <h3>¡Ganaste!</h3>
</header>

<main class="mainganar">
    <div>
        <a href="@Url.Action("Index", "Home")">Jugar otra vez</a>
    </div>
</main>

<footer>
  <pre>

  
.==============================================.
|                                              |
|                                              |
|                           .'\                |
|                          //  ;               |
|                         /'   |               |
|        .----..._    _../ |   \               |
|         \'---._ `.-'      `  .'              |
|          `.    '              `.             |
|            :            _,.    '.            |
|            |     ,_    (() '    |            |
|            ;   .'(().  '      _/__..-        |
|            \ _ '       __  _.-'--._          |
|            ,'.'...____'::-'  \     `'        |
|           / |   /         .---.              |
|     .-.  '  '  / ,---.   (     )             |
|    / /       ,' (     )---`-`-`-.._          |
|   : '       /  '-`-`-`..........--'\         |
|   ' :      /  /                     '.       |
|   :  \    |  .'         o             \      |
|    \  '  .' /          o       .       '     |
|     \  `.|  :      ,    : _o--'.\      |     |
|      `. /  '       ))    (   )  \>     |     |
|        ;   |      ((      \ /    \___  |     |
|        ;   |      _))      `'.-'. ,-'` '     |
|        |    `.   ((`            |/    /      |
|        \     ).  .))            '    .       |
|     ----`-'-'  `''.::.________:::TT'' ---    |
|                                              |
|                                              |
|==============================================|
|                  THEO TROSMAN                |
|         https://github.com/theotrosman       |
'=============================================='
  </pre>
</footer>
